<html>
<head>
    <style>
    table,
    th,
    td {
        border:5px solid black;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 10px;
    }

	
	body {
  background-image: linear-gradient(red, yellow);
}
         
    </style>
</head>
<body >
    <table style="width:50%"  align="center" >
        <caption>OFFER DATA</caption>
        <tr>
            <th>GAME</th>
            <th>LISTED PRICE</th>
            <th>OFFER PRICE</th>
	    <th>DISCOUNT</th>
        </tr>
        <tr>
            <td>GTA V</td>
            <td>7,999</td>
            <td>5,999.25</td>
	   <td>25%</td>
        </tr>
        <tr>
            <td>Watch dogs 2</td>
            <td>6,500</td>
            <td>5,330</td>
	    <td>18%</td>
        </tr>
        <tr>
            <td>NFS Payback</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>  
<tr>
            <td>Farcry</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>
<tr>
            <td>Fortnite</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>
<tr>
            <td>PUBG</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>
<tr>
            <td>Asphalt</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>
<tr>
            <td>Red Dead Redemption</td>
            <td>4,999</td>
            <td>4,749</td>
	    <td>5%</td>
        </tr>

  </table>
</body>
</html>